@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: var(--primary);
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #fcc7a5 less light */
body {
  --primary: #f87720;
  --secondary: #8c3700;
  --bg-color: #fdd2b5;

  --dark1: #2a303c;
  --dark2: #272a36;
  --grey: #334155;
  --grey2: #4a4d55;
  --light1: #fff;
  --light2: #f0f0f0;
  --divider: #2a303c35;
}

body.darkmode {
  --dark1: #fff;
  --dark2: #f0f0f0;
  --grey: #cbd5e1;
  --light1: #2a303c;
  --light2: #382f32;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

/* input,
textarea {
  outline: none;
  border: 1px solid transparent;
  @apply smooth-transition w-full resize-none rounded-lg bg-light2 p-1 px-3 py-1 text-lg font-semibold text-grey sm:w-[380px];
} */

/* textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus {
  border-color: var(--dark1);
} */
/* 
.icon {
  @apply mr-5 flex cursor-pointer items-center justify-center rounded-full bg-light2 p-4;
}
.icon > * {
  @apply text-lg text-primary sm:text-xl lg:text-3xl;
} */

.smooth-transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.gradient {
  background: linear-gradient(to bottom right, #38bdf8, #1e40af);
}

.step > div {
  background: var(--primary);
}
.step h2,
.step span {
  opacity: 1;
  color: var(--primary);
}

/* Styles for Tab in eventEntryForm step1 */
.Indoor {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Outdoor {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.Indoor.active,
.Outdoor.active {
  background: var(--primary) !important;
  color: #f2f2f2 !important;
}

/* hides the adjustable buttons in number input and hide seconds field in time inputs */
input::-webkit-outer-spin-button,
input::-webkit-datetime-edit-minute-field,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Hides scrollbars when we type too much in an input or textarea field */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.h {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.btn-submit {
  @apply mx-auto mt-2 flex rounded-full bg-primary px-10 py-3 text-xl text-white sm:mt-8;
}

/* Used in Page Not Found screen */
.error-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}
.tracking-tighter-less {
  letter-spacing: -0.75rem;
}
.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}

.image-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  filter: blur(20px) brightness(0.6);
  -webkit-filter: blur(20px) brightness(0.6);
}

body.darkmode .image-blur {
  filter: blur(20px) brightness(0.8);
  -webkit-filter: blur(20px) brightness(0.8);
}

@media screen and (max-height: 700px) {
  .form {
    height: 98vh;
    margin: 0;
    padding: 0.8rem;
  }
  .from label {
    margin-bottom: 0;
  }
  input,
  textarea {
    padding: 0;
    margin: 0;
  }
}
