@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: var(--primary-color);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --primary-color: #6366f1;
  --secondary-color: #4ade80;

  --light1: #fff;
  --light2: #f3f3f3;
  --grey: #4b5563;
  --dark1: #0f172a;
  --background: #fff;
}

body.darkmode {
  --primary-color: #818cf8;
  --light1: #111827;
  --light2: #1f2937;
  --grey: #f3f4f6;
  --dark1: #fff;
  --background: #1f2937;
}

h1 {
  @apply text-2xl font-bold text-dark1;
}
h2 {
  @apply text-xl font-semibold text-dark1;
}
h2 {
  @apply text-xl font-semibold text-dark1;
}
h3 {
  @apply text-dark1 sm:mx-2;
}
label {
  @apply block text-grey font-medium text-lg mb-1 cursor-pointer;
}
span {
  @apply block text-dark1;
}
p {
  @apply text-grey text-sm sm:text-base;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

input,
textarea {
  outline: none;
  border: 1px solid transparent;
  @apply p-1 resize-none smooth-transition w-full rounded-lg sm:w-[380px] px-3 py-1 text-grey font-semibold text-lg bg-light2;
}

textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus {
  border-color: var(--dark1);
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.gradient {
  background: linear-gradient(to bottom right, #38bdf8, #1e40af);
}

.container {
  min-width: 90%;
  margin: 0 auto;
}

/* Styles for heading of form */
.add-line {
  position: relative;
  padding-left: 20px;
}
.add-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 7px;
  height: 100%;
  background: var(--primary-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Styles for stepShower component */
.line1 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.line3 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.step > div {
  background: var(--primary-color);
}
.step h2,
.step span {
  opacity: 1;
  color: var(--primary-color);
}

/* Styles for Tab in eventEntryForm step1 */
.Indoor {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Outdoor {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.Indoor.active,
.Outdoor.active {
  background: var(--primary-color) !important;
  color: #f2f2f2 !important;
}

/* hides the adjustable buttons in number input and hide seconds field in time inputs */
input::-webkit-outer-spin-button,
input::-webkit-datetime-edit-minute-field,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Hides scrollbars when we type too much in an input or textarea field */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-submit {
  @apply px-10 py-3 text-xl bg-primary-color text-white rounded-full flex mt-2 sm:mt-8 mx-auto;
}

/* Used in Page Not Found screen */
.error-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}
.tracking-tighter-less {
  letter-spacing: -0.75rem;
}
.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}

@media screen and (max-height: 700px) {
  .form {
    height: 98vh;
    margin: 0;
    padding: 0.8rem;
  }
  .from label {
    margin-bottom: 0;
  }
  input,
  textarea {
    padding: 0;
    margin: 0;
  }
}
