@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: var(--primary-color);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6366f1;
  --secondary-color: #4ade80;
  --light1: #fff;
  --light2: #f3f3f3;
  --grey: #ddd;
  --dark1: #0f172a;
  --dark2: #737373;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

label {
  @apply text-dark1 block sm:w-[120px] text-xl mb-1 cursor-pointer;
}

.btn-submit {
  @apply px-10 py-3 text-xl bg-primary-color text-white rounded-full flex mt-10 mx-auto;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

input,
textarea {
  outline: none;
  border: 1px solid transparent;
  @apply smooth-transition w-full rounded-lg sm:w-[200px] px-3 py-1 text-dark2 font-semibold text-lg bg-light2;
}

textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus {
  border-color: var(--dark1);
}

textarea {
  width: 20rem;
  padding: 0.25rem;
  resize: none;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.gradient {
  background: linear-gradient(to bottom right, #38bdf8, #1e40af);
}

.container {
  min-width: 90%;
  margin: 0 auto;
}

/* Styles for heading of form */
.add-line {
  position: relative;
  padding-left: 20px;
}
.add-line::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 7px;
  height: 100%;
  background: var(--primary-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Styles for stepShower component */
.line1 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.line2 {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.line3 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.step > div {
  background: var(--primary-color) !important;
}
.step h2,
.step span {
  opacity: 1 !important;
  color: var(--primary-color) !important;
}

/* Styles for Tab in eventEntryForm step1 */
.Indoor {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Outdoor {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.Indoor.active,
.Outdoor.active {
  background: var(--primary-color) !important;
  color: #f2f2f2 !important;
}

/* hides the adjustable buttons in number input and hide seconds field in time inputs */
input::-webkit-outer-spin-button,
input::-webkit-datetime-edit-minute-field,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Hides scrollbars when we type too much in an input or textarea field */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
